

<ion-view view-title="{{ 'radioText' | translate }}" hide-back-button="false">
  <ion-content>
    <div class="padding center" ng-if="showErrorView()"
      ng-include="'main/templates/error-view.html'"></div>
    <ion-refresher
    pulling-text="{{ 'loadingText' | translate }}"
    on-refresh="onReload()"></ion-refresher>
    <div>
      <h1 style="padding:5px">Top Music Channels</h1>
    </div>

    <div class="list card">

  			<div class="item">
  				<h2>Latin Music Stations</h2>
  				<p>{{ radioOptions.song }}</p>
  			</div>

  			<div class="item item-image">
  				<img ng-src="{{ radioOptions.albumArt }}">
  				<a class="button button-icon icon radio-button" ng-class="{'ion-ios-play': !isPlaying, 'ion-ios-pause': isPlaying}" ng-click="startRadio()"></a>
  			</div>

  			<div class="item">
  				<p>{{ radioCurrentTime }}</p>
  			</div>

  		</div>



<ion-infinite-scroll
  on-infinite="onLoadMore()"
  ng-if="moreDataCanBeLoaded()"
  spinner
  distance="1%">
</ion-infinite-scroll>


  </ion-content>
</ion-view>
